.Current {
    background: #fff;
    border: 1px solid #bebebe;
    color: #bebebe;
    margin-left: 5px;
}

.Current:active {
    outline: none
}

.Active {
    border: 1px solid #f63c25;
    color: #f63c25;
    outline: none
}